* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #dcdcdc;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-color: black;
    height: calc(100vh - 50px);
    display: flex;
    padding: 40px 50px;
}

main i {
    font-size: 12px;
}

.name  {
    background-color:rgba(5, 5, 5, 0.5);
    width: 35%;
    padding: 2px 3px;
}

.cl-dx i {
    color:lightseagreen;
    font-size: 40px;
}

.cl-sx i {
    color: lightslategray;
    font-size: 40px;
}

.cl-sx, .cl-dx {
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items:center;
}

.cl-center {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    overflow-y:auto;
}

.finestra-utente {
    display: flex;
    background-image: url("img/select-security-web.png");
    background-size: cover;
    width: 19%;
    margin: 5px;
    flex-direction: column-reverse;
}

/* footer */
footer {
    display: flex;
    height: 50px;
    background-color: #1e2022;
    justify-content: space-between;
}

footer i {
    font-size: 20px;
}

.nav-sx,.nav-center,.nav-dx {
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

.nav-sx {
    width: 15%;  
}

.nav-center {
    width: 50%;    
}

.nav-dx {
    width: 10%;
    background-color: #4b4c4f;
    color: rgb(226, 76, 76);
}

.opzioni {
    display: flex;
    flex-direction: column;
    align-items: center;
}